body {
  background: url(../images/background.png);
  text-align: center;
  font-family: Helvetica;
}

.fs-18 {
  font-size: 18px;
}

.fs-18, h1 {
  color: white;
}

.bc-white {
  background-color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.c-white {
  color: white;
}

p {
  font-size: 14px;
}

.footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

.cr {
  font-size: 11px;
}
